@font-face {
  src: url(../fonts/rubik/rubik-400.woff2);
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url(../fonts/rubik/rubik-700.woff2);
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url(../fonts/rubik/rubik-800.woff2);
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}


@font-face {
  src: url(../fonts/raleway/raleway-800.woff2);
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #FFFFFF;
  color: #444444;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 1440px;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.page-wrapper  {
  display: flex;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  background-color: #FFE17F;
  color: #000000;
  padding-right: 60px;
  padding-left: 60px;
  margin-top: 40px;
  min-height: 186px;
}

.index-header {
  min-height: 300px;
}

.navigation {
  width: 1040px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 44px;
}


.navigation-item:not(:first-child) {
  margin-left: 30px;
}

.navigation-item svg {
  margin-right: 12px;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  position: realtive;
}

.navigation-link:hover {
  opacity: 0.6;
}


.navigation-link:focus, .htmlacademy-link:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-link:active {
  opacity: 0.3;
  outline: none;
}


.navigation-footer {
  font-family: Raleway, sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-top: 30;
  position: relative;
  z-index: 2;
  line-height: 24px;
}


.search-form {
 width: 518px;
 margin-right: 26px;
 display: flex;
 justify-content: space-between;
 background-color: #FFE17F;
 height: 40px;

}

.search-field {
  flex-grow: 1;
  background-color: inherit;
  border:  2px solid #000000;
  border-radius: 50px 0px 0px 50px;
  padding-left: 48px;
  padding-right: 18px;
  background: url(../images/header/search.svg) no-repeat;
  background-position: 16px 50%;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.search-field:focus {
  outline: 2px solid #AF4FFF;
}

.search-field:disabled {
  opacity: 0.3;
}

.search-field:focus-visible, .subscribe-field:focus-visible {
  outline: none;
}

.search-button {
  width: 162px;
  background-color: inherit;
  border:  2px solid #000000;
  border-left: none;
  border-radius: 0px 20px 20px 0px;
  font-family: Rubik, sans-serif;
font-size: 16px;
line-height: 20px;
box-sizing: border-box;
padding: 0;
}

.search-button:hover {
  background-color: black;
  color: white;
}

.search-button:hover:active span {
  opacity: 0.3;
}

.search-button:focus {
  outline: 2px solid #AF4FFF;
}

.search-button:disabled {
  opacity: 0.3;
}

.slide-tagline {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}

.slide-description {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
}

.link-button {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  position: relative;
  min-height: 40px;
  border: none;
  background-color: transparent;
  padding: 0;
  z-index: 1;
}

.link-button span {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 50%;
}

.link-button:hover, .delivery-item:hover {
  background: #FFE17F;
}

.delivery-item-link:focus {
  outline: 2px solid #AF4FFF;
}


.link-button:active, .link-button:active::before, .delivery-item:active, .delivery-item:active .delivery-item-title::before {
  background: #FFCC33;
  outline: none;
}

.delivery-item:active .delivery-item-link {
  outline: none;
}

.slideshow {
  padding-bottom: 38px;
  margin-bottom: -120px;
  position: relative;
  top: -150px;
}

.slideshow-item {
  display: flex;
  position: relative;
  z-index: 1;
}

.slide-wrapper {
  padding-top: 70px;
}

.slideshow-item .link-button {
  display: block;
  width: 220px;
  margin-right: 244px;
}

.slideshow-table {
  display: flex;
}

.slideshow-table-head {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
  margin-bottom: 12px;
}

.slideshow-table-wrapper {
  display: flex;
  flex-direction: column;
}

.slideshow-table-wrapper:not(:last-child) {
  margin-right: 16px;
}

.slideshow-table-data {
  font-size: 16px;
}

.slideshow-list {
  list-style-type: none;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}

.catalog {
  margin-bottom: 184px;
}

.catalog-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
}

.catalog-item {
  width: 160px;
}

.catalog-link {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
  display: block;
}

.catalog-link:hover .catalog-img-wrapper{
  background-color: #FFC700;
}

.catalog-link:focus {
  outline: 2px solid #AF4FFF;
}

.catalog-link:active {
  outline: none;
  opacity: 0.3;
}

 .catalog-img-wrapper {
   background-color: #FFE17F;
   height: 160px;
   display: flex;
   margin-bottom: 33px;
 }

 .catalog-img-wrapper img {
   margin-top: auto;
   margin-right: auto;
   margin-bottom: auto;
   margin-left: auto;
 }

 .catalog-list-description {
   margin: 0;
 }

.section-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.delivery-info {
  background-color: #F0F0F0;
  margin-bottom: 74px;
}

.delivery-list {
  padding: 0px;
  list-style-type: none;
  width: 280px;
  margin: 0;
  padding-top: 64px;
  border-right: 7px solid black;
  margin-right: 116px;
  padding-bottom: 30px;
  position: absolute;
}

.delivery-list-more-info {
  padding: 0px;
  padding-top: 72px;
  list-style-type: none;
  width: 694px;
  margin: 0;
  margin-left: auto;
  padding-right: 60px;
}
.delivery-more-info-item {
  display: flex;
}

.delivery-item-wrapper {
  max-width: 462px;
  margin-right: auto;
}

.delivery-button {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  width: 100%;
  height: 100px;
  margin-bottom: 70px;
  border: none;
  padding: 0;
  position: relative;
  background-color: #f0f0f0;
}

.delivery-button::before {
  content: "";
  width: 125px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  background: #FFE17F url(../images/delivery-auto.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-button::after {
  content: "";
  width: 40px;
  height: 40px;
  background: #e6e6e6 url(../images/i.svg) no-repeat center;
  display: block;
  position: absolute;
  top: 50%;
  right: 42px;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: 0.3;
}

.delivery-button:hover::before {
  background-color: #FFC700;
}

.delivery-button:hover::after {
  opacity: 1;
}

.delivery-button:focus {
  outline: 2px solid #af4fff;
}

.delivery-button:active {
  opacity: 0.3;
  outline: none;
}

.delivery-more-info-item .section-title {
  margin: 0;
  margin-bottom: 34px;
}

.delivery-item {
   margin-bottom: 35px;
   color: black;
   font-family: Raleway, sans-serif;
   font-weight: 800;
   font-size: 16px;
   line-height: 21px;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   height: 40px;
   display: flex;
  align-items: center;
  position: relative;
}

.delivery-item-link {
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 100px;
  color: inherit;
  text-decoration: none;
}

.delivery-item-title {
  margin: 0;
  width: 160px;
}

.delivery-item-title span {
  position: relative;
  width: 160px;
  text-align: center;
  display: block;
  z-index: 2;
}


.delivery-item-title::before {
  content: "";
  background-color: #FFE17F;
  width: 160px;
  height: 8px;
  position:absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.delivery-item-chosen .delivery-item-title::before {
  z-index: -1;
}

.delivery-item-chosen {
  background-color: black;
  color: #FFE17F;
}

.delivery-item-chosen:hover {
  background-color: black;
  color: rgba(255, 225, 127, 0.5);
}

.delivery-item-chosen:active {
  color: rgba(255, 225, 127, 0.3);
  background-color: black;
}

.about {
  width: 520px;
}

.about .link-button {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts .link-button {
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-list {
  padding-left: 34px;
  margin: 0;
  margin-bottom: 32px;
  list-style-type: none;
}

.about-item {
  margin-bottom: 19px;
  position: relative;
}

.about-item::before {
  content: "";
  background-color: #FFC700;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  left: -30px;
  top: 4px;
}

.about .section-title, .contacts .section-title {
  margin-top: 42px;
  margin-bottom: 52px;
}

.about-item {
  font-family: Rubik, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.about-description {
  margin-top: 0;
  margin-bottom: 30px;
}

.contacts {
  width: 532px;
  margin-left: auto;
}

.contacts-description {
  margin-top: 15px;
  margin-bottom: 30px;
}

.contacts b {
  font-family: Rubik, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.subscribe {
  background-color: #F0F0F0;
  margin-top: 70px
}

.subscribe .page-container {
  padding-top: 68px;
  padding-bottom: 56px;
}

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
}

.page-footer .page-container {
  padding-top: 62px;
  padding-bottom: 62px;
}

.page-footer-link {
  color: inherit;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

.htmlacademy-link {
  margin-left: auto;
}


.footer-t-number {
  text-decoration-line: underline;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 64px;
  display: block;
  color: white;
  position: relative;
  right: 4px;
  top: 2px;
}

.footer-t-number:hover, .footer-t-number:active, .page-footer-link:hover, .page-footer-link:active {
  color: #FFC700;
}

.footer-t-number:active, .page-footer-link:active {
  opacity: 0.3;
}

.footer-t-number:focus, .page-footer-link:focus {
  outline: 2px solid #AF4FFF;
}

.page-footer-adress {
  width: 239px;
  margin-right: 112px;
  font-size: 16px;
  position: relative;
}

.page-footer-adress p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  position: relative;
  bottom: 5px;
  right: 4px;
}

.page-footer-info {
  width: 444px;
  margin-right: 190px;
}

.page-footer-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  flex-wrap: wrap;
}

.page-footer-logo-link {
  margin-bottom: 36px;
  display: inline-block;
}

.page-footer-logo-link:hover {
  opacity: 0.6;
}

.page-footer-logo-link:focus {
  outline: 2px solid #af4fff;
}

.page-footer-logo-link:active {
opacity: 0.3;
outline: none;
}

.social-network-list {
  display: flex;
  justify-content: space-evenly;
  width: 170px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  margin-top: 62px;
  flex-wrap: wrap;
  position: relative;
  right: -8px;
}

.social-network-item:first-of-type {
  position: relative;
  right: 4px;
}

.page-footer-phone {
  width: 175px;
  display: flex;
  flex-direction: column;
}

.main-catalog-header {
  width: 1079px;
  margin: 0 auto;
  padding: 35px;
  padding-left: 60px;
}

.main-catalog-title {
color: black;
font-weight: 800;
font-size: 48px;
line-height: 60px;
margin-bottom: 6px;
margin-top: 0;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  line-height: 22px;
  color: black;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.breadcrumbs-item {
  margin-right: 36px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 2px solid #AF4FFF;
}

.page-catalog-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
}

.page-catalog-wrapper {
  background-color: #F0F0F0;
  height: 100%;
}

.page-catalog-column-right {
  width: 840px;
}

.filter-section {
  width: 320px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-left: 60px;
  padding-top: 25px;
}

.filter-form {
  width: 200px;
}

.catalog-filter-title {
  margin-bottom: 68px;
  margin-top: 0;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}

.filter-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: block;
  padding: 0;
  margin-bottom: 20px;
}

.filter-title:not(:nth-child(2)) {
  position: relative;
  top: 2px;
  right: 2px;
}

.filter-group {
  border: 0;
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: 46px;
}

.filter-group:last-of-type {
  margin-bottom: 38px;
}

.filter-group::before {
  content: '';
  width: 200px;
  border-bottom: 3px solid #000000;
  display: block;
  position: absolute;
  top: -56px;
}

.filter-group:first-of-type::before {
  top: -54px;
}

.products-section {
  background-color: #FFFFFF;
  padding: 70px 40px;
  padding-bottom: 70px;
}

.product-card-title {
  font-size: 18px;
line-height: 20px;
letter-spacing: -0.02em;font-weight: bold;
color: black;
min-width: 250px;
}

.product-cards-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px 40px;
  margin-bottom: 46px;
}

.products-show-more {
  width: 100%;
  margin-bottom: 42px;
  height: 55px;
  font-size: 16px;
  padding: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border: 3px solid #E5E5E5;
  box-sizing: border-box;
  background-color: white;
  position: relative;
}

.products-show-more span {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.products-show-more:hover, .subscribe-field-button:hover {
  border: 3px solid #000000;
}

.products-show-more:focus, .subscribe-field-button:focus {
  outline: 2px solid #AF4FFF;
}

.products-show-more:active, .subscribe-field-button:active{
  opacity: 0.3;
  outline: none;
}

.sorting-section {
  padding: 20px 40px;
  color: black;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

.sorting-section span {
  margin-right: auto;
}

.select-control {
  margin-right: 208px;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 18px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  padding-right: 20px;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.sorting-button {
  min-width: 30px;
  min-height: 30px;
}

.sorting-button svg {
  opacity: 0.3;
}

.sorting-button:hover svg{
  opacity: 0.5;
}

.sorting-button:active svg{
  opacity: 1;
}

.sorting-button:focus, .select-control:focus {
  outline: 2px solid #AF4FFF;
}
.pagination {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  background: #EBEBEB;
  height: 70px;
}

.pagination-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 180px;
  align-items:center;
  padding-right: 10px;
  box-sizing: border-box;
}


 .pagination-link {
  color: #444444;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
 }

.pagination-prev, .pagination-next {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  min-width: 128px;
  position: relative;
}

.pagination-prev span, .pagination-next span {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%)
}

.pagination-next span {
  right: 72px;
}

.delivery-info .page-container {
  display: flex;
  position: relative;
  top: -102px;
  min-height: 290px;
}

.subscribe .page-container {
  display: grid;
  grid-template-columns: 348px 252px 560px;
}

.subscribe-description {
  margin: 0;
  grid-column: 3 / -1;
  text-align: left;
}

.subscribe-form {
  grid-column: 1 / -1;
  width: 100%;
  display: flex;
  margin-top: 144px;
  align-items: center;
}

.subscribe-field {
  width: 558px;
  box-sizing: border-box;
  background-color: #F0F0F0;
  border: none;
  border-bottom: 3px solid #CECECE;
  height: 100%;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  display: block;
  padding-bottom: 11px;
  padding-left: 16px;
  padding-right: 16px;
}

.subscribe-field:hover {
  background-color: #DCDCDC;
}

.subscribe-field:not(:placeholder-shown):invalid {
  border-bottom: 3px solid #FF3D3D;
}

.subscribe-field-button {
  width: 252px;
  height: 58px;
  border-radius: 0%;
  background-color: #F0F0F0;
  border: 3px solid #CECECE;
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-label {
  margin-left: auto;
  background-image: url(../images/free.svg);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding-left: 40px;
}

.product-card {
  display: flex;
  flex-direction: column;
}

.product-card-link {
  height: 380px;
  margin-bottom: 34px;
  position: relative;
}

.product-cards-wrapper {
  display: flex;
}

.product-card-price {
  margin-left: auto;
  line-height: 21px;
  position: relative;
  right: 3px;
}

.product-card-title {
  margin: 0;
  width: min-content;
  min-width: 226px;
}

.catalog-item img:nth-child(2) {
  margin-top: auto;
}

.logo {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  top: -20px;
  right: 2px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo:focus {
  outline: 2px solid #AF4FFF;
}

.link-button::before {
  background-color: #FFE17F;
  height: 8px;
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}

.social-network-item {
  background: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}

.social-network-item svg {
position: absolute;
top: 50%;
right: 50%;
transform: translate(50%, -50%);
}

.social-network-item a {
  width: 40px;
  height: 40px;
  display: block;
}

.social-network-item:hover, .social-network-item:active {
  background: #FFC700;
}

.social-network-item a:active {
  opacity: 0.3;
}

.social-network-item a:focus {
  outline: 2px solid #AF4FFF;
}

.html-academy-logo {
  fill: #FFC700;
}

.html-academy-logo:hover, .html-academy-logo:active {
  fill: #FFFFFF;
}

.html-academy-logo:active {
  opacity: 0.3;
}

.html-academy-logo:focus {
  border: 1px solid #AF4FFF;
  box-sizing: border-box;
}

.product-card-button {
 height: 100%;
 width: 100%;
 position: absolute;
}

.product-card-button span {
  font-family: 'Raleway';
 font-weight: 800;
 font-size: 18px;
 line-height: 21px;
 text-align: center;
 letter-spacing: 0.2em;
 text-transform: uppercase;
 color: black;
  display: block;
  margin-top: 50%;
  display: none;
  position: relative;
  z-index: 1;
}

.product-card-button span::after {
  background-color: #FFE17F;
  height: 8px;
  width: 220px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}

.product-card-button span:hover::after {
  height: 40px;
}

.product-card:hover span{
  display: block;
}

.product-card:hover .product-card-image, .product-card:hover .product-cards-wrapper{
  opacity: 0.6;
}

.product-card:active span::after{
  background: #FFC700;
}
.product-card-link:focus {
  outline: 2px solid #AF4FFF;
}

.pagination-prev:hover, .pagination-next:hover {
  background-color: #DCDCDC;
}
.pagination-prev:active, .pagination-next:active {
  opacity: 0.3;
}

/* .pagination-prev:focus, .pagination-next:focus, {
  outline: 2px solid #AF4FFF;
} */

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:active {
  opacity: 0.1;
}

.pagination-link:focus {
    outline: 2px solid #AF4FFF;
}

.pagination-current {opacity: 0.6;}

.slider-button {
  width: 20px;
  height: 60px;
  border: none;
  cursor: pointer;
  color: black;
  background-color: white;
  background-image: url("../images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.slider-img-wrapper {
  position: relative;
  margin-right: 40px;
  height: 560px;
}

.slider-img-wrapper img {
  display: block;
}

.slider-buttons-wrapper {
  position: absolute;
  top: 43%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 32px;
  box-sizing: border-box;
}

.slider-button-prev {
  transform: rotate(180deg);
}

.slider-pagination {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.slider-pagination-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.slider-pagination-item {
  width: 10px;
  height: 10px;
  border: 2px solid #000000;
  border-radius: 50%;
  margin-left: 18px;
  background-color: white;
}

.slider-pagination-item-current {
  background-color: black;
}

.slider-pagination-item:hover, .slider-button:hover {
  opacity: 0.6;
}

.slider-pagination-item:active, .slider-button:active {
  opacity: 0.3;
}

.slider-pagination-item a:focus,  .slider-button:focus {
  outline: 2px solid #AF4FFF;
}

.filter-scale {
  margin-top: 10px;
  width: 200px;
  border-bottom: 2px solid #DCDCDC;
  position: relative;
  margin-bottom: 33px;
}

.filter-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.filter-bar {
  border-bottom: 2px solid #000000;
  position: absolute;
  top: 50%;
}

.range-toggle {

  width: 18px;
  height: 18px;
  background-color: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;

}

.range-toggle:hover {
  background-color: #f5f5f5;
  border: 2px solid #808080;
}

.range-toggle:active {
  background-color: black;
}

.range-toggle:focus {
  outline: 2px solid #AF4FFF;
}

.toggle-min {
  left: -8px;
}

.toggle-max {
  right: -8px;
}

.catalog-filter-label {
  position: absolute;
  top: 30px;
  display: flex;
  left: -22px;
  opacity: 0.3;
}
.toggle-max .catalog-filter-label {
  top: 26px;
}

.range-input {
  max-width: 40px;
  padding: 0 2px;
  font: inherit;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input:focus {
  outline: 2px solid #af4fff;
}

.toggle-min .catalog-filter-label {
  transform: translateX(16px);
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter-inputs-wrapper {
  position: absolute;
  top: -14px;
}

.color-label, .bluetooth-label {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
  box-sizing: border-box;
  top: 0px;
}

.control-input:checked + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="checkbox"]:checked + .control-mark{
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before{
  width: 8px;
  height: 8px;
  background-color: black;
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  border-radius: 50%;

}

.filter-item:not(:last-child) {
  margin-bottom: 18px;
}

.filter-item:hover {
  opacity: 0.6;
}

.control-input:focus + .control-mark {
  outline: 2px solid #AF4FFF;
}

.filter-item:active {
  opacity: 0.3;
}

.filter-item:active .control-mark {
  outline: none;
}

.control-input:disabled ~ .filter-item{
  opacity: 0.1;
}

.bluetooth-label .control-mark {
  border-radius: 50%;
}

.filter-form .link-button {
  width: 220px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
  z-index: 3;
}

.modal {
  position: relative;
  margin: auto;
  width: 920px;
  background-color: white;
  border: 10px solid #000000;
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 62px;
  padding-bottom: 1px;
  min-height: 572px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 76px;
  right: 72px;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}


.modal-close-button:focus, .modal-form-field:focus {
  outline: 2px solid #AF4FFF;
}

.modal-close-button:active {
  opacity: 0.3;
  outline: none;
}

.modal-title {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 42px;
}

.modal-form {
  box-sizing: border-box;
}

.modal-form-field {
  display: block;
  box-sizing: border-box;
  background: #F0F0F0;
  border: none;
  height: 60px;
  padding: 20px;
  width: 100%;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-right: 40px;
}

.modal-form-field:hover {
  background-color: #DCDCDC;
}


.modal-group {
  display: grid;
  margin: 0;
  width: 760px;
  gap: 40px;
  margin-bottom: 42px;
}

.modal-label {
  letter-spacing: -0.02em;
  font-weight: 700;
  color: black;
  position: relative;
  line-height: 20px;
}

.modal-label-info {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.modal-group-top {
  grid-template-columns: 360px 360px;
}

.modal-group-bottom {
  grid-template-columns: 540px 180px;
}

.modal-label-count .modal-form-field {
  width: 60px;
}

.modal-form-count-button {
  width: 60px;
  height: 60px;
  background-color: #F0F0F0;
  border: none;
  position: relative;
  cursor: pointer;
}

.modal-form-count-button:hover {
  opacity: 0.6;
}

.modal-form-count-button:focus {
  outline: 2px solid #af4fff;
}

.modal-form-count-button:active {
  outline: none;
  opacity: 0.3;
}

.modal-form-count-button:disabled {
  opacity: 0.1;
}

.count-buttons-wrapper {
  display: flex;
}

.count-buttons-wrapper .modal-form-field:not(:placeholder-shown):invalid{
  outline: 2px solid #FF3D3D;
}

.count-buttons-wrapper .modal-form-field {
  width: 60px;
  appearance: textfield;
  text-align: center;
  margin-top: 0;
}

.modal-form .link-button {
  width: 200px;
}

.modal-form-field-name {
  background-image: url(../images/name.svg);
  background-repeat: no-repeat;
  background-position: 326px 24px;
}

.modal-form-field-mail {
  background-image: url(../images/mail.svg);
  background-repeat: no-repeat;
  background-position: 326px 24px;
}

.modal-form-field:not(:placeholder-shown):invalid + .modal-label-info {
  color: red;
}



.modal-form-field:not(:placeholder-shown):invalid {
  outline: 2px solid #FF3D3D;
}

.modal-form-count-button-minus::before {
  width: 16px;
  height: 2px;
  background-color: black;
  position: absolute;
  content: "";
  top: 50%;
  right: 50%;
  transforM: translate(50%, -50%);
}

.modal-form-count-button-plus::before {
  width: 16px;
  height: 2px;
  background-color: black;
  position: absolute;
  content: "";
  top: 50%;
  right: 50%;
  transforM: translate(50%, -50%);
}

.modal-form-count-button-plus::after {
  width: 2px;
  height: 16px;
  background-color: black;
  position: absolute;
  content: "";
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.count-buttons-wrapper .modal-form-field {
  padding: 0;
}

.modal-container-closed {
  display: none;
}

.catalog-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.3;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: -50%;
  right: 4px;
  transform: translateY(-2px);
  z-index: 4;
}

.navigation-item-subcatalog {
  padding-right: 70px;
  position: relative;
  z-index: 4;
  margin-right: auto;
}

.catalog-button::before {
  width: 16px;
  height: 2px;
  background-color: black;
  position: absolute;
  content: "";
  top: 50%;
  right: 50%;
  transforM: translate(50%, -50%);
}

.catalog-button::after {
  width: 2px;
  height: 16px;
  background-color: black;
  position: absolute;
  content: "";
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.subcatalog {
  width: 1160px;
  min-height: 180px;
  display: flex;
  position: absolute;
  padding-top: 34px;
  padding-bottom: 28px;
  left: -60px;
  padding-left: 60px;
  letter-spacing: 0em;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  background-color: #FFE17F;
  box-sizing: border-box;
  z-index: 3;
}

.subcatalog-list {
  list-style-type: none;
  padding: 0;
  margin-right: 30px;
}

.subcatalog-item {
  margin-bottom: 16px;
}

.subcatalog-item:hover {
  opacity: 0.6;
}

.subcatalog-item:active {
  opacity: 0.3;
}

.subcatalog-link {
  color: black;
  text-decoration: none;
}

.subcatalog-link:focus {
  outline: 2px solid #AF4FFF;
}

.subcatalog-hidden {
  display: none;
}

.catalog-button:focus-within + .subcatalog {
  display: flex;
}

.catalog-button:focus-within::after {
  display: none;
}

.tooltip {
  display: inline-block;
  position: absolute;
  z-index: 2;
  left: 120px;
  top: -2px;
}

.tooltip-button {
  background-image: url(../images/tooltip.svg);
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  position: absolute;
  border: none;
  background-color: transparent;
  padding: 0;
}

.tooltip-text {
  color: white;
  background-color: black;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em;
  padding: 20px;
  width: 200px;
  position: absolute;
  top: 100%;
  margin-top: 30px;
  right: 50%;
  transform: translateX(60px);
  box-sizing: border-box;
  display: none;
}

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content:'';
  background-image: url("../images/tooltip-arrow.svg");
  display: block;
  width: 14px;
  height: 6px;
  position: absolute;
  bottom: 100%;
  left: 146px;
}

.popover {
  width: 320px;
  min-height: 300px;
  background-color: black;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  box-sizing: border-box;
  position: absolute;
  top: 30px;
  right: -59px;
  display: none;
  z-index: 4;
}

.popover-content {
  height: 100%;
}

.navigation-item-popover {
  position: relative;
}

.popover-list {
  list-style-type: none;
  padding: 0;
}

.popover-link {
  color: inherit;
  text-decoration: none;
  display: flex;
  box-sizing: border-box;
}

.popover-item {
  padding: 20px;
  position: relative;
  padding-right: 40px;
}

.popover-item:not(:last-child) {
  border-bottom: 1px solid #191919;
}

.popover-item img {
  margin-right: 24px;
}

.popover-item-delete-button {
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  background-color: black;
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}

.popover-item-delete-button::before {
  background-color: white;
  content: "";
  width: 2px;
  height: 10px;
  display: block;
  transform: rotate(45deg);
}

.popover-item-delete-button::after {
  background-color: white;
  content: "";
  width: 2px;
  height: 10px;
  display: block;
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
}

.popover-count {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #1A1A1A;
}

.popover-cart-button-wrapper {
  padding: 20px;
}

.popover-cart-button {
  color: black;
  height: 50px;
  width: 280px;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}

.popover-cart-button:hover {
  background-color: #FFE17F;
}

.popover-cart-button:active span{
  opacity: 0.3;
}
.popover-cart-button:focus {
  outline: 2px solid #AF4FFF;
  border: 2px solid black;
}

.popover-item-delete-button:hover {
  opacity: 0.6;
}

.popover-item-delete-button:active {
  opacity: 0.3;
}

.popover-item-delete-button:focus,  .popover-link:focus {
  outline: 2px solid #AF4FFF;
}

.popover-link:hover {
  opacity: 0.6;
}

.popover-link:active {
  opacity: 0.3;
}

.popover::after {
  content:'';
  background-image: url("../images/tooltip-arrow.svg");
  display: block;
  width: 14px;
  height: 6px;
  position: absolute;
  bottom: 100%;
  left: 50%;
}

.navigation-item-popover .navigation-link:focus-within + .popover {
  display: block;
}

.popover-shown {
  display: block;
}

.navigation-list:first-of-type .navigation-item:nth-child(2) {
  margin-right: auto;
  margin-left: 0;
}

.navigation-list:first-of-type .navigation-item:last-child {
  margin-left: 34px;
}

.navigation-list:first-of-type {
  line-height: 40px;
}

.navigation-list:last-of-type .navigation-item:last-child {
  margin-left: 48px;
}

.navigation-list:last-of-type .navigation-item:nth-last-child(2) {
  margin-left: 40px;
}

.slideshow-slide-number {
  position: absolute;
  top: 219px;
  font-weight: 700;
  font-size: 180px;
  top: 84px;
  right: 50px;
  color: white;
  z-index: 1;
}

.catalog-item:nth-child(2) img {
  margin-bottom: 0;
}

.about::before, .contacts::before {
  content: "";
  background-color: black;
  width: 84px;
  height: 6px;
  position: absolute;
}

.subscribe .section-title {
  margin-top: -10px;
}

.page-footer-adress::after {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  position: absolute;
  bottom: 16px;
}

.navigation-item-autorization {
  width: 200px;
}

.nav-autorization-exit {
  opacity: 0.3;
  position: relative;
  right: -28px;
  cursor: pointer;
}

.header-cart-count {
  background-color: white;
  border-radius: 50%;
  text-align: center;
  height: 21px;
  width: 21px;
  display: block;
  position: absolute;
  font-size: 14px;
  line-height: 26px;
  left: -16px;
  top: 6px;
}

.modal-form-field-title {
  margin-bottom: 14px;
  display: block;
  position: relative;
}
